.check-field__label {
  padding-left: 37px;

  @include font-set(400, 18px, 30px);
}

.check-field__input {
  margin-bottom: 69px;
}

@media (min-width: $tablet-width) {
  .check-field__label {
    padding-left: 99px;
  }
}

@media (min-width: $desktop-width) {
  .check-field__label {
    padding-left: 22px;
  }
}
