.controls {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 41px;
}

.controls__button {
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;

  @include font-set(700, 18px, 18px);

  &--post {
    border: 3px solid $pink;
    color: $pink;
    margin-bottom: 12px;
    padding-left: 91px;
    padding-right: 90px;
  }

  &--cancel {
    border: 3px solid $fontcolor;
    opacity: 0.1;
    padding-left: 104px;
    padding-right: 103px;
  }
}

@media (min-width: $tablet-width) {
  .controls {
    padding-top: 67px;
    padding-bottom: 0;
  }

  .controls__button {
    &--post {
      margin-bottom: 45px;
      padding-left: 81px;
      padding-right: 80px;
    }

    &--cancel {
      padding-left: 94px;
      padding-right: 93px;
    }
  }
}

@media (min-width: $desktop-width) {
  .controls {
    display: block;
    padding-top: 181px;
  }

  .controls__button {
    &--post {
      margin-bottom: 0;
      margin-right: 44px;
      padding-left: 42px;
      padding-right: 42px;
    }

    &--cancel {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}
