.contacts {
  background-color: $white;
  border: 1px solid red;
  padding-top: 50px;
  padding-bottom: 22px;
}

.contacts__intro {
  @include font-set(300, 24px, 29px);
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item a {
  color: $pink;
  text-decoration: none;
}

.contacts__title {
  @include font-set(700, 18px, 25px);
}

.contacts__description {
  color: $pink;

  @include font-set(300, 24px, 33px);
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
