.copyright__link {
  @include font-set(400, 14px, 18px);
  color: $fontcolor;
  position: relative;
  text-decoration: none;

  &::after {
    background-image: url("../img/icons/htmlacademy.svg");
    background-repeat: no-repeat;
    content: "";
    height: 34px;
    right: -30px;
    top: -6px;
    position: absolute;
    width: 27px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-left: 74px;
    padding-top: 57px;
    padding-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-left: 227px;
    padding-top: 90px;
    padding-bottom: 94px;
  }

  .copyright__link {
    @include font-set(400, 18px, 18px);

    &::after {
      right: -28px;
      top: 0;
    }
  }
}
