.copyright__title {
  @include font-set(400, 14px, 18px);
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-left: 80px;
    margin-top: 57px;
    margin-bottom: 59px;
  }

  .copyright__title {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-left: 223px;
    margin-top: 90px;
    margin-bottom: 94px;
  }

  .copyright__title {
    margin: 0;
  }
}
