.gallery {
  background-color: $white;
}

.gallery__list-first {
  @include clear-list ();
}

.gallery__item {
  margin-bottom: 20px;

  &--first {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    &::before {
      @include font-set(700, 12px, 24px);
      background-color: $pink;
      content: "Панорама дня";
      color: $white;
      position: absolute;
      padding-top: 6px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-left: 19px;
      text-transform: uppercase;
      top: 0;
      right: 20px;
    }
  }
}

.gallery__list {
  @include clear-list ();
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__title {
  @include font-set(400, 14px, 30px);
  margin: 0;
  padding-top: 44px;
  padding-bottom: 50px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery__list-first {
    margin-bottom: 50px;
  }

  .gallery__title {
    padding-top: 90px;
    padding-bottom: 77px;
    padding-left: 86px;
    padding-right: 85px;

    @include font-set(400, 18px, 30px);
  }

  .gallery__item {
    &--first {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 3;
      margin-bottom: 0;

      &::before {
        top: 57px;
        right: 20px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
    column-gap: 20px;
    max-width: 940px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .gallery__list-first {
    margin-bottom: 52px;
  }

  .gallery__item {
    &--first {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-column-end: 4;

      &::before {
        top: 54px;
        right: 10px;
      }
    }
  }

  .gallery__title {
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 89px;
    max-width: 572px;
  }
}
