.gallery {
  background-color: $white;
  border: 1px solid red;
  padding-top: 54px;
}

.gallery__list {
  @include clear-list ();
}

.gallery__title {
  @include font-set(400, 14px, 30px);
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery__item--first {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery__item--first {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
  }
}
