.gallery {
  background-color: $white;
}

.gallery__list-first {
  @include clear-list ();
}

.gallery__list {
  @include clear-list ();

  padding-left: 20px;
  padding-right: 20px;
}

.gallery__title {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 60px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;

  @include font-set(400, 14px, 30px);
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery__title {
    padding-top: 100px;
    padding-bottom: 85px;
    padding-left: 44px;
    padding-right: 44px;

    @include font-set(400, 18px, 30px);
  }

  .gallery__item--first {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 940px;
    margin: 0 auto;
  }

  .gallery__item--first {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
  }

  .gallery__title {
    margin: 0 auto;
    padding-bottom: 83px;
    max-width: 572px;
  }
}
