.logo__link-nav {
  display: block;
  height: 23px;
  padding: 23px 23px;
  padding-left: 20px;
  width: 74px;

  @media (min-width: $tablet-width) {
    height: 40px;
    padding-top: 27px;
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}
