.map {
  border: none;
  background-image: url("../img/bg/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 100% 85%;
  height: 202px;
  position: relative;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::after {
    background-image: url("../img/bg/bg-triangle-white-map.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    content: "";
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 374px;

    background-image: url("../img/bg/map-tablet.jpg");
    background-position: 100% 87%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/map-tablet@2x.jpg");
      background-size: 660px auto;
    }

    &::after {
      height: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 502px;
    background-image: url("../img/bg/map-desktop.jpg");
    background-position: 52% 71%;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/map-desktop@2x.jpg");
      background-size: 960px auto;
    }

    &::after {
      height: 100px;
    }
  }
}
