.map {
  height: 202px;
  position: relative;
  width: 100%;
  z-index: 1;

  // &::before {
  //   background-image: url("../img/icons/map-marker.svg");
  //   background-repeat: no-repeat;
  //   content: "";
  //   height: 36px;
  //   left: 44%;
  //   top: 48%;
  //   position: absolute;
  //   width: 36px;
  // }

  &::after {
    background-image: url("../img/bg/bg-triangle-white-map.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    content: "";
    height: 34px;
    left: 0;
    top: -1px;
    position: absolute;
    width: 100%;
    z-index: 4;
  }
}

.map__block {
  border: none;
  background-image: url("../img/bg/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 100% 85%;
  background-size: cover;
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: 3;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 374px;

    &::after {
      height: 68px;
    }

    // &::before {
    //   left: 47%;
    //   top: 52%;
    // }
  }

  .map__block {
    height: 374px;
    background-image: url("../img/bg/map-tablet.jpg");
    background-position: 100% 87%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 502px;

    &::after {
      height: 105px;
      // top: 0;
    }

    // &::before {
    //   left: 48%;
    // }
  }

  .map__block {
    height: 502px;
    background-image: url("../img/bg/map-desktop.jpg");
    background-position: 52% 58%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/map-desktop@2x.jpg");
    }
  }
}
