.nav {
  background-color: $black;
  min-height: 66px;
}

.nav__list {
  border: 1px solid blue;

  @include clear-list ();
}

.nav__list a {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  @include font-set(700, 18px, 32px);
}

@media (min-width: $tablet-width) {
  .nav {
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .nav__wrapper {
    align-items: center;
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
