.nav {
  min-height: 66px;
  position: relative;
  width: auto;
  background-color: $fontcolor;

  &--closed {
    background-color: transparentize($black, 0.7);
  }
}

.nav__logo {
  margin-left: 20px;
  padding-top: 21px;
  padding-bottom: 15px;
}

.nav__list {
  @include clear-list ();
  display: flex;
  flex-direction: column;
}

.nav__list a {
  @include font-set(700, 18px, 32px);
  border-top: 1px solid $black;
  box-shadow: 0 1px 0 $black, inset 0 1px 0 transparentize($white, 0.85);
  display: block;
  color: $white;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item a {
  &:hover {
    color: $pink;
  }

  &:active {
    color: transparentize($white, 0.7);
  }
}

.nav__item--active a:hover {
  color: $white;
}

.nav--opened .nav__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 23px;
  width: 23px;
  z-index: 4;

  &::before,
  &::after {
    cursor: pointer;
    display: block;
    content: "";
    top: 7px;
    left: 0;
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: fade($pink, 30%);
  }
}

.nav--closed .nav__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 21px;
  width: 50px;
  z-index: 4;
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.nav--closed .nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
}

.nav--closed .nav__toggle:active::before {
  background-color: $pink;
  box-shadow: 0 10px 0 0 fade($pink, 30%), 0 20px 0 0 fade($pink, 30%);
}

.nav--closed .nav__list {
  display: none;
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__wrapper {
  position: static;
}

@media (min-width: $tablet-width) {
  .nav__logo {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .nav {
    min-height: 110px;
  }

  .nav__list a {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .nav__toggle {
    margin-top: 23px;
  }
}

@media (min-width: $desktop-width) {
  .nav__logo {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav--opened .nav__toggle {
    display: none;
  }

  .nav--closed .nav__toggle {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    background-color: transparentize($black, 0.7);
  }

  .nav__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 110px;
    width: 940px;
  }

  .nav--closed .nav__list,
  .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav__list a {
    @include font-set(400, 18px, 18px);
    border: none;
    box-shadow: none;
    display: flex;
    padding-top: 30px;
    text-transform: none;
  }

  .nav__item {
    margin-right: 80px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    height: 2px;
    background: $white;
  }
}
