.popup {
  box-sizing: border-box;
  background-position: 0 0;
  background-color: $white;
  box-shadow: 0 7px 15px transparentize($blackshadow, 0.85);
  border-radius: 1px;
  display: none;
  left: 50%;
  min-height: 287px;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  width: 320px;
  z-index: 20;

  &--succes {
    min-height: 380px;
    top: 50%;
  }
}

.popup__title {
  @include font-set(700, 18px, 24px);
  color: $black;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 25px;
  text-align: center;

  &--succes {
    padding-left: 41px;
    padding-right: 41px;
  }
}

.popup__description {
  margin: 0;
  text-align: center;
  padding-bottom: 41px;

  &--succes {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 32px;
  }
}

.popup__button {
  @include font-set(700, 18px, 30px);
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  color: $white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 125px;
  padding-right: 124px;
  text-transform: uppercase;
  width: 276px;

  &--succes {
    padding-left: 56px;
    padding-right: 56px;
  }

  &:hover {
    background-color: $greenhover;
  }

  &:active {
    color: transparentize($white, 0.7);
  }

  &:disabled {
    background-color: $bordercolor;
    color: $white;
  }
}

.popup__background {
  padding-bottom: 50px;

  &--succes {
    background-color: $backgroundgrey;
    padding-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .popup {
    min-height: 363px;
    top: 10%;
    width: 460px;

    &--succes {
      min-height: 432px;
      top: 40%;
    }
  }

  .popup__title {
    @include font-set(700, 30px, 40px);
    padding-top: 41px;
    padding-bottom: 23px;
    padding-left: 65px;
    padding-right: 67px;

    &--succes {
      padding-top: 41px;
      padding-bottom: 21px;
      padding-left: 65px;
      padding-right: 67px;
    }
  }

  .popup__description {
    @include font-set(400, 18px, 24px);
    padding-left: 69px;
    padding-right: 69px;
    padding-bottom: 34px;
  }

  .popup__background {
    &--succes {
      padding-top: 48px;
      padding-bottom: 50px;
    }
  }

  .popup__button {
    padding-left: 135px;
    padding-right: 134px;
    width: 296px;

    &--succes {
      padding-left: 73px;
      padding-right: 72px;
      width: 296px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popup {
    min-height: 377px;
    top: 10%;
    width: 780px;

    &--succes {
      min-height: 377px;
      top: 40%;
    }
  }

  .popup__title {
    &--succes {
      padding-bottom: 22px;
    }
  }

  .popup__description {
    padding-left: 201px;
    padding-right: 201px;
    padding-bottom: 63px;

    &--succes {
      padding-bottom: 40px;
    }
  }

  .popup__background {
    background-color: $backgroundgrey;
    padding-top: 52px;
    padding-bottom: 47px;
  }

  .popup__button {
    &--succes {
      padding-left: 144px;
      padding-right: 147px;
      width: 456px;
    }
  }
}
