.price {
  background-color: $backgroundgrey;
  background-image: url("../img/bg/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: -5px 0;
  background-size: contain;
  padding-top: 77px;
  padding-bottom: 101px;
}

.price__table {
  position: relative;
  box-sizing: border-box;
}

.price__title {
  box-sizing: border-box;
  background-color: $fontcolor;
  border: 2px solid $bordercolor;
  border-top: none;
  border-bottom: none;
  color: $white;
  height: 94px;
  text-transform: uppercase;
  width: 152px;

  @include font-set(700, 16px, 30px);
}

.price__span {
  display: block;

  font-weight: 300;
  font-size: 18px;
}

.price__row {
  background-color: $white;
}

.price__item {
  box-sizing: border-box;
  border: 2px solid $bordercolor;
  border-top: none;
  height: 59px;
  padding-left: 20px;
  text-transform: uppercase;

  @include font-set(400, 14px, 30px);
}

@media (min-width: $tablet-width) {
  .price {
    display: block;
    padding-top: 114px;
    padding-bottom: 73px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .price__table {
    width: 620px;
  }

  .price__title {
    box-sizing: border-box;
    height: 75px;
    font-size: 16px;
    width: 152px;

    &--transparent {
      border: none;
      border-bottom: 2px solid $white;
      display: table-cell;
      visibility: hidden;
    }
  }

  .price__span {
    margin-top: -5px;
  }

  .price__item {
    height: 45px;
    padding-left: 15px;

    &--title {
      display: table-cell;
      font-size: 14px;
      text-transform: none;
    }
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 154px;
    padding-bottom: 98px;
    padding-left: 0;
    padding-right: 0;
  }

  .price__table {
    margin: 0 auto;
    width: 940px;
  }

  .price__title {
    height: 94px;
    font-size: 18px;

    @include font-set(700, 18px, 30px);
  }

  .price__span {
    margin-top: 0;

    @include font-set(300, 24px, 30px);
  }

  .price__item {
    @include font-set(400, 18px, 30px);
    height: 59px;
    padding-left: 22px;
    width: 233px;
  }
}
