.upload {
  padding-bottom: 41px;
}

.upload__wrapper {
  padding-top: 29px;
  padding-bottom: 52px;
}

.upload__title {
  @include font-set(400, 14px, 30px);
  margin: 0;
  text-align: center;
}

.upload__form {
  background-color: $backgroundgrey;
}

.upload__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.upload__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .upload {
    padding-bottom: 0;
  }

  .upload__wrapper {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  .upload__form {
    display: flex;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .upload__title {
    @include font-set(400, 18px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .upload {
    margin: 0 auto;
    padding-bottom: 28px;
    width: 940px;
  }

  .upload__wrapper {
    padding-top: 67px;
    padding-bottom: 75px;
  }

  .upload__form {
    padding-bottom: 57px;
    padding-left: 80px;
  }
}
