.user-photo {
  margin-bottom: 20px;
}

.user-photo__inner {
  background-color: $backgroundgrey;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 17px;
  padding-right: 31px;

  &--first {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 13px;
  }
}

.user-photo__author {
  @include font-set(700, 14px, 24px);
  margin-top: 0;
}

.user-photo__link {
  box-sizing: border-box;
  display: block;
  font-size: 0;
  line-height: 0;

  &--first {
    background-image: url("../img/photos/panorama-mobile.jpg");
    background-position: 50%;
    background-size: cover;
    height: 137px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/panorama-mobile@2x.jpg");
    }
  }
}

.user-photo__author-postdate {
  text-transform: uppercase;

  @include font-set(300, 12px, 24px);
}

.user-photo__description {
  margin-bottom: 25px;
}

.user-photo__button {
  border: none;
  cursor: pointer;
  margin-right: 18px;
  position: relative;
  padding-left: 31px;

  &::before {
    background-image: url("../img/icons/icon-heart.svg");
    background-repeat: no-repeat;
    content: "";
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
  }
}

.user-photo__likes {
  color: $pink;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .user-photo {
    margin-bottom: 0;
  }

  .user-photo__inner {
    padding-top: 30px;
    padding-bottom: 31px;
    padding-left: 30px;
    padding-right: 38px;

    &--first {
      padding-left: 30px;
      padding-right: 70px;
    }
  }

  .user-photo__link {
    &--first {
      background-image: url("../img/photos/panorama-tablet.jpg");
      height: 509px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/panorama-tablet@2x.jpg");
      }
    }
  }

  .user-photo__description {
    margin-bottom: 27px;
    padding-bottom: 24px;
  }

  .user-photo__button {
    padding-left: 0;

    &::before {
      left: 235px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-photo__inner {
    padding-left: 27px;
    padding-right: 27px;

    &--first {
      margin: 0 auto;
      width: 886px;
    }
  }

  .user-photo__link {
    &--first {
      background-image: url("../img/photos/panorama-desktop.jpg");
      height: 506px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/panorama-desktop@2x.jpg");
      }
    }
  }

  .user-photo__description {
    margin-bottom: 0;
    padding-bottom: 31px;
  }
}
